<nav class="navbar navbar-expand-lg" [@fadeIn]>
  <div class="container-fluid">
    <a
      class="navbar-brand neon-text"
      routerLink="/"
      (mouseenter)="toggleHover('logo', true)"
      (mouseleave)="toggleHover('logo', false)"
      [@hoverGlow]="isHovered['logo'] ? 'hovered' : 'normal'"
    >  <svg class="logo-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12 2L2 7L12 12L22 7L12 2Z M2 17L12 22L22 17"
          stroke="#a855f7"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12 12V22"
          stroke="#a855f7"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <span class="logo-text">LumiCoin</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link neon-text"
            [ngClass]="{'active': isHovered['coins']}"
            (mouseenter)="toggleHover('coins', true)"
            (mouseleave)="toggleHover('coins', false)"
            [@hoverGlow]="isHovered['coins'] ? 'hovered' : 'normal'"
            routerLink='/'
          >Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link neon-text"
            [ngClass]="{'active': isHovered['categories']}"
            (mouseenter)="toggleHover('categories', true)"
            (mouseleave)="toggleHover('categories', false)"
            [@hoverGlow]="isHovered['categories'] ? 'hovered' : 'normal'"
            routerLink="/categories"
          >Categories</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link neon-text"
            [ngClass]="{'active': isHovered['news']}"
            (mouseenter)="toggleHover('news', true)"
            (mouseleave)="toggleHover('news', false)"
            [@hoverGlow]="isHovered['news'] ? 'hovered' : 'normal'"
            href="#news"
          >News</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link neon-text"
            [ngClass]="{'active': isHovered['about']}"
            (mouseenter)="toggleHover('about', true)"
            (mouseleave)="toggleHover('about', false)"
            [@hoverGlow]="isHovered['about'] ? 'hovered' : 'normal'"
            routerLink="/exchanges"
          >Exchanges</a>
        </li>


                <li class="nav-item">
          <a
            class="nav-link neon-text"
            [ngClass]="{'active': isHovered['search']}"
            (mouseenter)="toggleHover('search', true)"
            (mouseleave)="toggleHover('search', false)"
            [@hoverGlow]="isHovered['search'] ? 'hovered' : 'normal'"
            routerLink="/search"
          ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg></a>
        </li>
      </ul>

    </div>
  </div>
</nav>